<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/yuliiapuziuk/Downloads/JulieAPITests">
        <classes>
            <class name="crud.CrudUserTest">
                <methods>
                    <include name="getUsers"/>
                    <include name="createUser"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>