<div>Status code 200 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;meta&quot;: {
        &quot;pagination&quot;: {
            &quot;total&quot;: 2494,
            &quot;pages&quot;: 250,
            &quot;page&quot;: 1,
            &quot;limit&quot;: 10,
            &quot;links&quot;: {
                &quot;previous&quot;: null,
                &quot;current&quot;: &quot;https://gorest.co.in/public/v1/users?page=1&quot;,
                &quot;next&quot;: &quot;https://gorest.co.in/public/v1/users?page=2&quot;
            }
        }
    },
    &quot;data&quot;: [
        {
            &quot;id&quot;: 682220,
            &quot;name&quot;: &quot;Mr. Lakshmidhar Dutta&quot;,
            &quot;email&quot;: &quot;dutta_lakshmidhar_mr@schowalter.io&quot;,
            &quot;gender&quot;: &quot;female&quot;,
            &quot;status&quot;: &quot;active&quot;
        },
        {
            &quot;id&quot;: 679891,
            &quot;name&quot;: &quot;Sen. Sushil Bharadwaj&quot;,
            &quot;email&quot;: &quot;bharadwaj_sushil_sen@carroll.co&quot;,
            &quot;gender&quot;: &quot;female&quot;,
            &quot;status&quot;: &quot;inactive&quot;
        },
        {
            &quot;id&quot;: 679890,
            &quot;name&quot;: &quot;Krishnadasa Achari CPA&quot;,
            &quot;email&quot;: &quot;achari_cpa_krishnadasa@abbott-kuvalis.name&quot;,
            &quot;gender&quot;: &quot;male&quot;,
            &quot;status&quot;: &quot;active&quot;
        },
        {
            &quot;id&quot;: 679887,
            &quot;name&quot;: &quot;Lakshmidhar Nambeesan&quot;,
            &quot;email&quot;: &quot;nambeesan_lakshmidhar@mertz.com&quot;,
            &quot;gender&quot;: &quot;male&quot;,
            &quot;status&quot;: &quot;active&quot;
        },
        {
            &quot;id&quot;: 679038,
            &quot;name&quot;: &quot;Girish Mahajan&quot;,
            &quot;email&quot;: &quot;girish_mahajan@gerlach-greenholt.net&quot;,
            &quot;gender&quot;: &quot;male&quot;,
            &quot;status&quot;: &quot;active&quot;
        },
        {
            &quot;id&quot;: 677341,
            &quot;name&quot;: &quot;Sarisha Prajapat&quot;,
            &quot;email&quot;: &quot;sarisha_prajapat@goldner.com&quot;,
            &quot;gender&quot;: &quot;male&quot;,
            &quot;status&quot;: &quot;inactive&quot;
        },
        {
            &quot;id&quot;: 677340,
            &quot;name&quot;: &quot;Rameshwar Panicker&quot;,
            &quot;email&quot;: &quot;panicker_rameshwar@strosin.org&quot;,
            &quot;gender&quot;: &quot;male&quot;,
            &quot;status&quot;: &quot;inactive&quot;
        },
        {
            &quot;id&quot;: 677338,
            &quot;name&quot;: &quot;Chandranath Somayaji Sr.&quot;,
            &quot;email&quot;: &quot;somayaji_chandranath_sr@wilderman.info&quot;,
            &quot;gender&quot;: &quot;male&quot;,
            &quot;status&quot;: &quot;inactive&quot;
        },
        {
            &quot;id&quot;: 676256,
            &quot;name&quot;: &quot;test_name_1680485971807&quot;,
            &quot;email&quot;: &quot;test.email1680485971797@15ce.com&quot;,
            &quot;gender&quot;: &quot;male&quot;,
            &quot;status&quot;: &quot;active&quot;
        },
        {
            &quot;id&quot;: 675746,
            &quot;name&quot;: &quot;Preity Desai CPA&quot;,
            &quot;email&quot;: &quot;cpa_desai_preity@blanda.info&quot;,
            &quot;gender&quot;: &quot;male&quot;,
            &quot;status&quot;: &quot;active&quot;
        }
    ]
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: cloudflare</div>
        <div>vary: Origin</div>
        <div>x-frame-options: SAMEORIGIN</div>
        <div>x-download-options: noopen</div>
        <div>x-ratelimit-remaining: 87</div>
        <div>Report-To: {&quot;endpoints&quot;:[{&quot;url&quot;:&quot;https:\/\/a.nel.cloudflare.com\/report\/v3?s=RFyrVRB2fEDouqYRB2gFnGoVt%2FmLMFliHOtJ%2FYjsLwO17AoJahfRx3a%2BmxW7qgIYOm9MsrJMOpvJ56s%2FZ16EhFxmSkmsbQKQ4czMiPlB6GQz46wkbLDiP%2ByEuLN547Q%3D&quot;}],&quot;group&quot;:&quot;cf-nel&quot;,&quot;max_age&quot;:604800}</div>
        <div>referrer-policy: strict-origin-when-cross-origin</div>
        <div>Content-Encoding: gzip</div>
        <div>x-runtime: 0.091030</div>
        <div>Content-Type: application/json; charset=utf-8</div>
        <div>Transfer-Encoding: chunked</div>
        <div>x-request-id: a54dae11-b672-4cbd-8d91-0849747d4de6</div>
        <div>CF-RAY: 7b1fbf964b131648-WAW</div>
        <div>x-ratelimit-limit: 90</div>
        <div>Connection: keep-alive</div>
        <div>x-permitted-cross-domain-policies: none</div>
        <div>x-ratelimit-reset: 1</div>
        <div>Date: Mon, 03 Apr 2023 07:55:17 GMT</div>
        <div>CF-Cache-Status: DYNAMIC</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>x-content-type-options: nosniff</div>
        <div>x-xss-protection: 0</div>
        <div>NEL: {&quot;success_fraction&quot;:0,&quot;report_to&quot;:&quot;cf-nel&quot;,&quot;max_age&quot;:604800}</div>
        <div>etag: W/&quot;6d0a9f7205f4f7278a9ff94d47809eb7&quot;</div>
        <div>alt-svc: h3=&quot;:443&quot;; ma=86400, h3-29=&quot;:443&quot;; ma=86400</div>
</div>


