<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
{
    &quot;meta&quot;: null,
    &quot;data&quot;: {
        &quot;id&quot;: 744659,
        &quot;name&quot;: &quot;test_name_1680689550148&quot;,
        &quot;email&quot;: &quot;test.email_1680689548237@15ce.com&quot;,
        &quot;gender&quot;: &quot;female&quot;,
        &quot;status&quot;: &quot;active&quot;
    }
}    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: cloudflare</div>
        <div>vary: Origin</div>
        <div>x-frame-options: SAMEORIGIN</div>
        <div>x-download-options: noopen</div>
        <div>x-ratelimit-remaining: 89</div>
        <div>Report-To: {&quot;endpoints&quot;:[{&quot;url&quot;:&quot;https:\/\/a.nel.cloudflare.com\/report\/v3?s=Ub5b%2F%2FX12J4e7lkqrK5BEdHUo6d8p2KH3W%2BTrfTBNjSKNYK1YdVz2kH%2BdhcybVIvmjBbuiPaykCS6vs6kkbILavWrmF7TfmtL%2FAI9xEDq8LkAeOFytF%2Bwq5StZxqeAs%3D&quot;}],&quot;group&quot;:&quot;cf-nel&quot;,&quot;max_age&quot;:604800}</div>
        <div>referrer-policy: strict-origin-when-cross-origin</div>
        <div>x-runtime: 0.080275</div>
        <div>Content-Type: application/json; charset=utf-8</div>
        <div>Transfer-Encoding: chunked</div>
        <div>x-request-id: 0ec64933-6775-4a19-bd70-470550969b39</div>
        <div>CF-RAY: 7b3103676eec3bca-WAW</div>
        <div>x-ratelimit-limit: 90</div>
        <div>Connection: keep-alive</div>
        <div>x-permitted-cross-domain-policies: none</div>
        <div>x-ratelimit-reset: 1</div>
        <div>Date: Wed, 05 Apr 2023 10:12:33 GMT</div>
        <div>CF-Cache-Status: DYNAMIC</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>x-content-type-options: nosniff</div>
        <div>x-xss-protection: 0</div>
        <div>NEL: {&quot;success_fraction&quot;:0,&quot;report_to&quot;:&quot;cf-nel&quot;,&quot;max_age&quot;:604800}</div>
        <div>etag: W/&quot;66770010a5cf62b061d93bbf3cc78755&quot;</div>
        <div>location: https://gorest.co.in/public/v1/users/744659</div>
        <div>alt-svc: h3=&quot;:443&quot;; ma=86400, h3-29=&quot;:443&quot;; ma=86400</div>
</div>


