<div>Status code 200 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
{
    &quot;meta&quot;: {
        &quot;pagination&quot;: {
            &quot;total&quot;: 2505,
            &quot;pages&quot;: 251,
            &quot;page&quot;: 1,
            &quot;limit&quot;: 10,
            &quot;links&quot;: {
                &quot;previous&quot;: null,
                &quot;current&quot;: &quot;https://gorest.co.in/public/v1/users?page=1&quot;,
                &quot;next&quot;: &quot;https://gorest.co.in/public/v1/users?page=2&quot;
            }
        }
    },
    &quot;data&quot;: [
        {
            &quot;id&quot;: 723679,
            &quot;name&quot;: &quot;Dhara Menon&quot;,
            &quot;email&quot;: &quot;menon_dhara@abernathy.name&quot;,
            &quot;gender&quot;: &quot;female&quot;,
            &quot;status&quot;: &quot;inactive&quot;
        },
        {
            &quot;id&quot;: 722716,
            &quot;name&quot;: &quot;Bala Agarwal&quot;,
            &quot;email&quot;: &quot;agarwal_bala@olson.biz&quot;,
            &quot;gender&quot;: &quot;female&quot;,
            &quot;status&quot;: &quot;active&quot;
        },
        {
            &quot;id&quot;: 722714,
            &quot;name&quot;: &quot;Mrs. Dhyaneshwar Deshpande&quot;,
            &quot;email&quot;: &quot;dhyaneshwar_deshpande_mrs@hudson-lowe.info&quot;,
            &quot;gender&quot;: &quot;male&quot;,
            &quot;status&quot;: &quot;active&quot;
        },
        {
            &quot;id&quot;: 722713,
            &quot;name&quot;: &quot;Aanandaswarup Bandopadhyay&quot;,
            &quot;email&quot;: &quot;aanandaswarup_bandopadhyay@rath.info&quot;,
            &quot;gender&quot;: &quot;male&quot;,
            &quot;status&quot;: &quot;inactive&quot;
        },
        {
            &quot;id&quot;: 721770,
            &quot;name&quot;: &quot;Vasudev Kaul&quot;,
            &quot;email&quot;: &quot;kaul_vasudev@denesik.info&quot;,
            &quot;gender&quot;: &quot;female&quot;,
            &quot;status&quot;: &quot;active&quot;
        },
        {
            &quot;id&quot;: 721769,
            &quot;name&quot;: &quot;Devangana Johar Sr.&quot;,
            &quot;email&quot;: &quot;sr_devangana_johar@wehner-schamberger.io&quot;,
            &quot;gender&quot;: &quot;female&quot;,
            &quot;status&quot;: &quot;inactive&quot;
        },
        {
            &quot;id&quot;: 721290,
            &quot;name&quot;: &quot;Asha Varman&quot;,
            &quot;email&quot;: &quot;varman_asha@tillman-dickens.co&quot;,
            &quot;gender&quot;: &quot;male&quot;,
            &quot;status&quot;: &quot;active&quot;
        },
        {
            &quot;id&quot;: 721288,
            &quot;name&quot;: &quot;Gotum Johar&quot;,
            &quot;email&quot;: &quot;gotum_johar@monahan.io&quot;,
            &quot;gender&quot;: &quot;female&quot;,
            &quot;status&quot;: &quot;active&quot;
        },
        {
            &quot;id&quot;: 721287,
            &quot;name&quot;: &quot;Amritambu Deshpande&quot;,
            &quot;email&quot;: &quot;deshpande_amritambu@harvey.biz&quot;,
            &quot;gender&quot;: &quot;female&quot;,
            &quot;status&quot;: &quot;inactive&quot;
        },
        {
            &quot;id&quot;: 721286,
            &quot;name&quot;: &quot;Amb. Shwet Kaur&quot;,
            &quot;email&quot;: &quot;shwet_amb_kaur@kilback.net&quot;,
            &quot;gender&quot;: &quot;male&quot;,
            &quot;status&quot;: &quot;active&quot;
        }
    ]
}    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: cloudflare</div>
        <div>vary: Origin</div>
        <div>x-frame-options: SAMEORIGIN</div>
        <div>x-download-options: noopen</div>
        <div>x-ratelimit-remaining: 86</div>
        <div>Report-To: {&quot;endpoints&quot;:[{&quot;url&quot;:&quot;https:\/\/a.nel.cloudflare.com\/report\/v3?s=42o%2BCHokh9VrVNKuIZEjvqgA4dvMmFvA7hzDvcb1FSIjjjiuppYRZMSDzfcypXqvkTN9Em%2FX5AgmDPPJ7qKXPxMmTuhapdqHD1UG%2FN6M4U0qIKZ0P1CaUQDllF4%2B6Mk%3D&quot;}],&quot;group&quot;:&quot;cf-nel&quot;,&quot;max_age&quot;:604800}</div>
        <div>referrer-policy: strict-origin-when-cross-origin</div>
        <div>Content-Encoding: gzip</div>
        <div>x-runtime: 0.074176</div>
        <div>Content-Type: application/json; charset=utf-8</div>
        <div>Transfer-Encoding: chunked</div>
        <div>x-request-id: 8d25f4c9-623d-4e32-94ed-94d2d37b9947</div>
        <div>CF-RAY: 7b2a7b120802fbe6-WAW</div>
        <div>x-ratelimit-limit: 90</div>
        <div>Connection: keep-alive</div>
        <div>x-permitted-cross-domain-policies: none</div>
        <div>x-ratelimit-reset: 1</div>
        <div>Date: Tue, 04 Apr 2023 15:10:54 GMT</div>
        <div>CF-Cache-Status: DYNAMIC</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>x-content-type-options: nosniff</div>
        <div>x-xss-protection: 0</div>
        <div>NEL: {&quot;success_fraction&quot;:0,&quot;report_to&quot;:&quot;cf-nel&quot;,&quot;max_age&quot;:604800}</div>
        <div>etag: W/&quot;c371af85ce09f8d2c2c2848b23353be1&quot;</div>
        <div>alt-svc: h3=&quot;:443&quot;; ma=86400, h3-29=&quot;:443&quot;; ma=86400</div>
</div>


