<div>Status code 200 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;meta&quot;: null,
    &quot;data&quot;: {
        &quot;id&quot;: 667303,
        &quot;name&quot;: &quot;test_name_1680460113686&quot;,
        &quot;email&quot;: &quot;test.email1680460113683@15ce.com&quot;,
        &quot;gender&quot;: &quot;female&quot;,
        &quot;status&quot;: &quot;active&quot;
    }
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: cloudflare</div>
        <div>vary: Origin</div>
        <div>x-frame-options: SAMEORIGIN</div>
        <div>x-download-options: noopen</div>
        <div>x-ratelimit-remaining: 89</div>
        <div>Report-To: {&quot;endpoints&quot;:[{&quot;url&quot;:&quot;https:\/\/a.nel.cloudflare.com\/report\/v3?s=KHv%2FbqhB18MODGyhqLrf0EVW5zX%2BxYIzm4QhCA3GkPusXPwG%2BZTnkldnJZGZGCN02h3ShYy9VmhJrlO3AVSf%2Fd2Kmutw1mhQRLpYxHi%2F87WfwgmbROI3OMPTcrUlyrs%3D&quot;}],&quot;group&quot;:&quot;cf-nel&quot;,&quot;max_age&quot;:604800}</div>
        <div>referrer-policy: strict-origin-when-cross-origin</div>
        <div>Content-Encoding: gzip</div>
        <div>x-runtime: 0.064408</div>
        <div>Content-Type: application/json; charset=utf-8</div>
        <div>Transfer-Encoding: chunked</div>
        <div>x-request-id: 55a481b1-8161-4ee4-a468-fcf680050828</div>
        <div>CF-RAY: 7b1b21f1390c35b1-WAW</div>
        <div>x-ratelimit-limit: 90</div>
        <div>Connection: keep-alive</div>
        <div>x-permitted-cross-domain-policies: none</div>
        <div>x-ratelimit-reset: 1</div>
        <div>Date: Sun, 02 Apr 2023 18:28:37 GMT</div>
        <div>CF-Cache-Status: DYNAMIC</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>x-content-type-options: nosniff</div>
        <div>x-xss-protection: 0</div>
        <div>NEL: {&quot;success_fraction&quot;:0,&quot;report_to&quot;:&quot;cf-nel&quot;,&quot;max_age&quot;:604800}</div>
        <div>etag: W/&quot;ccbcb73cba28702a479df15f1c0998cb&quot;</div>
        <div>alt-svc: h3=&quot;:443&quot;; ma=86400, h3-29=&quot;:443&quot;; ma=86400</div>
</div>


