<div>Status code 200 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
{
    &quot;meta&quot;: null,
    &quot;data&quot;: {
        &quot;id&quot;: 723836,
        &quot;name&quot;: &quot;test_name_1680621043159&quot;,
        &quot;email&quot;: &quot;test.email1680621043157@15ce.com&quot;,
        &quot;gender&quot;: &quot;male&quot;,
        &quot;status&quot;: &quot;active&quot;
    }
}    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: cloudflare</div>
        <div>vary: Origin</div>
        <div>x-frame-options: SAMEORIGIN</div>
        <div>x-download-options: noopen</div>
        <div>x-ratelimit-remaining: 89</div>
        <div>Report-To: {&quot;endpoints&quot;:[{&quot;url&quot;:&quot;https:\/\/a.nel.cloudflare.com\/report\/v3?s=pddrnRUZX2QIyAYg8V5pACEQre7Rpzg6QOTZVO%2BZ4Src%2FRn2RpAsi6kr0FjMWVrsmD9xkrSMah9dpMVYJIOrjztOBbSaSP2nQSlK2lBQ0AL8DKsLT6QNkWoOLlFDFgE%3D&quot;}],&quot;group&quot;:&quot;cf-nel&quot;,&quot;max_age&quot;:604800}</div>
        <div>referrer-policy: strict-origin-when-cross-origin</div>
        <div>Content-Encoding: gzip</div>
        <div>x-runtime: 0.060924</div>
        <div>Content-Type: application/json; charset=utf-8</div>
        <div>Transfer-Encoding: chunked</div>
        <div>x-request-id: a4a0b512-89bf-410e-b2b5-2a00e65f6068</div>
        <div>CF-RAY: 7b2a7ae40c69350a-WAW</div>
        <div>x-ratelimit-limit: 90</div>
        <div>Connection: keep-alive</div>
        <div>x-permitted-cross-domain-policies: none</div>
        <div>x-ratelimit-reset: 1</div>
        <div>Date: Tue, 04 Apr 2023 15:10:46 GMT</div>
        <div>CF-Cache-Status: DYNAMIC</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>x-content-type-options: nosniff</div>
        <div>x-xss-protection: 0</div>
        <div>NEL: {&quot;success_fraction&quot;:0,&quot;report_to&quot;:&quot;cf-nel&quot;,&quot;max_age&quot;:604800}</div>
        <div>etag: W/&quot;3d34da4c65789503230f4eea69d69cf8&quot;</div>
        <div>alt-svc: h3=&quot;:443&quot;; ma=86400, h3-29=&quot;:443&quot;; ma=86400</div>
</div>


