<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;meta&quot;: null,
    &quot;data&quot;: {
        &quot;id&quot;: 683615,
        &quot;name&quot;: &quot;test_name_1680510224612&quot;,
        &quot;email&quot;: &quot;test.email1680510224609@15ce.com&quot;,
        &quot;gender&quot;: &quot;male&quot;,
        &quot;status&quot;: &quot;active&quot;
    }
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: cloudflare</div>
        <div>vary: Origin</div>
        <div>x-frame-options: SAMEORIGIN</div>
        <div>x-download-options: noopen</div>
        <div>x-ratelimit-remaining: 86</div>
        <div>Report-To: {&quot;endpoints&quot;:[{&quot;url&quot;:&quot;https:\/\/a.nel.cloudflare.com\/report\/v3?s=QJQDxqecCZpVjkc5%2Fbv3RKIDU60uQ8NLAeErr06ZxG3bGTSRZNuouQjJfCCTVE%2Bktd6PyuwmoDuiLyWpE151DLIwSfvbV3a3u%2FzzfAMFS4BT2OeT74YxE8xvAz7wW2I%3D&quot;}],&quot;group&quot;:&quot;cf-nel&quot;,&quot;max_age&quot;:604800}</div>
        <div>referrer-policy: strict-origin-when-cross-origin</div>
        <div>x-runtime: 0.095798</div>
        <div>Content-Type: application/json; charset=utf-8</div>
        <div>Transfer-Encoding: chunked</div>
        <div>x-request-id: 05d9aa8f-870c-4e50-83aa-e3472045ad7b</div>
        <div>CF-RAY: 7b1fe9534d00fbc6-WAW</div>
        <div>x-ratelimit-limit: 90</div>
        <div>Connection: keep-alive</div>
        <div>x-permitted-cross-domain-policies: none</div>
        <div>x-ratelimit-reset: 1</div>
        <div>Date: Mon, 03 Apr 2023 08:23:46 GMT</div>
        <div>CF-Cache-Status: DYNAMIC</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>x-content-type-options: nosniff</div>
        <div>x-xss-protection: 0</div>
        <div>NEL: {&quot;success_fraction&quot;:0,&quot;report_to&quot;:&quot;cf-nel&quot;,&quot;max_age&quot;:604800}</div>
        <div>etag: W/&quot;419bbb08b81b157061ca8fbb633b2710&quot;</div>
        <div>location: https://gorest.co.in/public/v1/users/683615</div>
        <div>alt-svc: h3=&quot;:443&quot;; ma=86400, h3-29=&quot;:443&quot;; ma=86400</div>
</div>


