<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
{
    &quot;meta&quot;: null,
    &quot;data&quot;: {
        &quot;id&quot;: 696718,
        &quot;name&quot;: &quot;test_name_1680545104980&quot;,
        &quot;email&quot;: &quot;test.email1680545104977@15ce.com&quot;,
        &quot;gender&quot;: &quot;female&quot;,
        &quot;status&quot;: &quot;inactive&quot;
    }
}    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: cloudflare</div>
        <div>vary: Origin</div>
        <div>x-frame-options: SAMEORIGIN</div>
        <div>x-download-options: noopen</div>
        <div>x-ratelimit-remaining: 88</div>
        <div>Report-To: {&quot;endpoints&quot;:[{&quot;url&quot;:&quot;https:\/\/a.nel.cloudflare.com\/report\/v3?s=SA74uxDKd0H6uJovDIgJdHe4YhEZCSn0j%2BA7DareHiDvYpg%2BqK6V2gxNT8IQFFRytQL4zeNOiSAKupgB6OaWPayHnS5Fe2X6beNU%2BvN3bxNWRylRgHbAsJJCb8JR7mk%3D&quot;}],&quot;group&quot;:&quot;cf-nel&quot;,&quot;max_age&quot;:604800}</div>
        <div>referrer-policy: strict-origin-when-cross-origin</div>
        <div>x-runtime: 0.091348</div>
        <div>Content-Type: application/json; charset=utf-8</div>
        <div>Transfer-Encoding: chunked</div>
        <div>x-request-id: 6f12d576-1c6d-4562-884f-dcb5bd3f5e34</div>
        <div>CF-RAY: 7b233ce82fb834bc-WAW</div>
        <div>x-ratelimit-limit: 90</div>
        <div>Connection: keep-alive</div>
        <div>x-permitted-cross-domain-policies: none</div>
        <div>x-ratelimit-reset: 1</div>
        <div>Date: Mon, 03 Apr 2023 18:05:07 GMT</div>
        <div>CF-Cache-Status: DYNAMIC</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>x-content-type-options: nosniff</div>
        <div>x-xss-protection: 0</div>
        <div>NEL: {&quot;success_fraction&quot;:0,&quot;report_to&quot;:&quot;cf-nel&quot;,&quot;max_age&quot;:604800}</div>
        <div>etag: W/&quot;7dc47e70ed1e225faf7cd66f04305558&quot;</div>
        <div>location: https://gorest.co.in/public/v1/users/696718</div>
        <div>alt-svc: h3=&quot;:443&quot;; ma=86400, h3-29=&quot;:443&quot;; ma=86400</div>
</div>


