<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;meta&quot;: null,
    &quot;data&quot;: {
        &quot;id&quot;: 683743,
        &quot;name&quot;: &quot;test_name_1680510585200&quot;,
        &quot;email&quot;: &quot;test.email1680510585196@15ce.com&quot;,
        &quot;gender&quot;: &quot;female&quot;,
        &quot;status&quot;: &quot;active&quot;
    }
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: cloudflare</div>
        <div>vary: Origin</div>
        <div>x-frame-options: SAMEORIGIN</div>
        <div>x-download-options: noopen</div>
        <div>x-ratelimit-remaining: 89</div>
        <div>Report-To: {&quot;endpoints&quot;:[{&quot;url&quot;:&quot;https:\/\/a.nel.cloudflare.com\/report\/v3?s=6wvJ7%2BjwhqHFyvzY6rvUvMmJ%2FSyH%2Bm7QChdYmu%2BdED6o%2FIOsWcdugd%2BWXr7rYUiP7FrY3Cyn4P%2FtH1NvptLXrdxMZsKyKSGWpHtJPAXGxI3mfR3olxwscVpIYutr%2Fh0%3D&quot;}],&quot;group&quot;:&quot;cf-nel&quot;,&quot;max_age&quot;:604800}</div>
        <div>referrer-policy: strict-origin-when-cross-origin</div>
        <div>x-runtime: 0.090537</div>
        <div>Content-Type: application/json; charset=utf-8</div>
        <div>Transfer-Encoding: chunked</div>
        <div>x-request-id: 89728569-ff54-4ca3-a128-65e57716e5dd</div>
        <div>CF-RAY: 7b1ff21efe4035d6-WAW</div>
        <div>x-ratelimit-limit: 90</div>
        <div>Connection: keep-alive</div>
        <div>x-permitted-cross-domain-policies: none</div>
        <div>x-ratelimit-reset: 1</div>
        <div>Date: Mon, 03 Apr 2023 08:29:47 GMT</div>
        <div>CF-Cache-Status: DYNAMIC</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>x-content-type-options: nosniff</div>
        <div>x-xss-protection: 0</div>
        <div>NEL: {&quot;success_fraction&quot;:0,&quot;report_to&quot;:&quot;cf-nel&quot;,&quot;max_age&quot;:604800}</div>
        <div>etag: W/&quot;fd74be1f21dd44cf065c89c85924a57a&quot;</div>
        <div>location: https://gorest.co.in/public/v1/users/683743</div>
        <div>alt-svc: h3=&quot;:443&quot;; ma=86400, h3-29=&quot;:443&quot;; ma=86400</div>
</div>


