<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;meta&quot;: null,
    &quot;data&quot;: {
        &quot;id&quot;: 683858,
        &quot;name&quot;: &quot;test_name_1680511032745&quot;,
        &quot;email&quot;: &quot;test.email1680511032742@15ce.com&quot;,
        &quot;gender&quot;: &quot;female&quot;,
        &quot;status&quot;: &quot;active&quot;
    }
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: cloudflare</div>
        <div>vary: Origin</div>
        <div>x-frame-options: SAMEORIGIN</div>
        <div>x-download-options: noopen</div>
        <div>x-ratelimit-remaining: 89</div>
        <div>Report-To: {&quot;endpoints&quot;:[{&quot;url&quot;:&quot;https:\/\/a.nel.cloudflare.com\/report\/v3?s=bMG74NNFnfPrp%2FUv3DyaqUuAMbFi78DkzmBCA0tNPw4oLAwAqG6O9jI4Nfy9b17qnqWy1rg9wSKH3iHidY%2FOq2Och9bB9I%2B4L7A0dNxtbrGFmlntwef73vMSFyTho68%3D&quot;}],&quot;group&quot;:&quot;cf-nel&quot;,&quot;max_age&quot;:604800}</div>
        <div>referrer-policy: strict-origin-when-cross-origin</div>
        <div>x-runtime: 0.089082</div>
        <div>Content-Type: application/json; charset=utf-8</div>
        <div>Transfer-Encoding: chunked</div>
        <div>x-request-id: 757ea53b-627e-4c85-ab3c-56363d2fec8f</div>
        <div>CF-RAY: 7b1ffd0cb9a134a4-WAW</div>
        <div>x-ratelimit-limit: 90</div>
        <div>Connection: keep-alive</div>
        <div>x-permitted-cross-domain-policies: none</div>
        <div>x-ratelimit-reset: 1</div>
        <div>Date: Mon, 03 Apr 2023 08:37:14 GMT</div>
        <div>CF-Cache-Status: DYNAMIC</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>x-content-type-options: nosniff</div>
        <div>x-xss-protection: 0</div>
        <div>NEL: {&quot;success_fraction&quot;:0,&quot;report_to&quot;:&quot;cf-nel&quot;,&quot;max_age&quot;:604800}</div>
        <div>etag: W/&quot;f30e8066b491acb6d6acf855a434fb71&quot;</div>
        <div>location: https://gorest.co.in/public/v1/users/683858</div>
        <div>alt-svc: h3=&quot;:443&quot;; ma=86400, h3-29=&quot;:443&quot;; ma=86400</div>
</div>


