<div>Status code 200 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;meta&quot;: null,
    &quot;data&quot;: {
        &quot;email&quot;: &quot;UpdatedEmail1680511089433@test.com&quot;,
        &quot;name&quot;: &quot;UpdatedName1680511089433&quot;,
        &quot;gender&quot;: &quot;male&quot;,
        &quot;status&quot;: &quot;inactive&quot;,
        &quot;id&quot;: 683870
    }
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: cloudflare</div>
        <div>vary: Origin</div>
        <div>x-frame-options: SAMEORIGIN</div>
        <div>x-download-options: noopen</div>
        <div>x-ratelimit-remaining: 89</div>
        <div>Report-To: {&quot;endpoints&quot;:[{&quot;url&quot;:&quot;https:\/\/a.nel.cloudflare.com\/report\/v3?s=qEGH3svXDgkh7ugOIxZQwEoB9y0Puz3NVKVINGVGWaasTtkjOf2rfaAFcficMSxMFNVEvOGYSB2v3558HqYSuFEgyK2hFkbx2F%2B%2F5%2Bv6NNxyKUuk1fO5lNVAlOYwAYM%3D&quot;}],&quot;group&quot;:&quot;cf-nel&quot;,&quot;max_age&quot;:604800}</div>
        <div>referrer-policy: strict-origin-when-cross-origin</div>
        <div>Content-Encoding: gzip</div>
        <div>x-runtime: 0.082275</div>
        <div>Content-Type: application/json; charset=utf-8</div>
        <div>Transfer-Encoding: chunked</div>
        <div>x-request-id: d56c776a-0936-4094-9268-c1777d2c612d</div>
        <div>CF-RAY: 7b1ffe65b8ca3485-WAW</div>
        <div>x-ratelimit-limit: 90</div>
        <div>Connection: keep-alive</div>
        <div>x-permitted-cross-domain-policies: none</div>
        <div>x-ratelimit-reset: 2</div>
        <div>Date: Mon, 03 Apr 2023 08:38:09 GMT</div>
        <div>CF-Cache-Status: DYNAMIC</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>x-content-type-options: nosniff</div>
        <div>x-xss-protection: 0</div>
        <div>NEL: {&quot;success_fraction&quot;:0,&quot;report_to&quot;:&quot;cf-nel&quot;,&quot;max_age&quot;:604800}</div>
        <div>etag: W/&quot;87654e65375169a58f9b555c77361e96&quot;</div>
        <div>alt-svc: h3=&quot;:443&quot;; ma=86400, h3-29=&quot;:443&quot;; ma=86400</div>
</div>


