<div>POST to https://gorest.co.in/public/v1/users</div>

<h4>Body</h4>
<div>
    <pre class="preformated-text">
{
    &quot;name&quot;: &quot;&quot;,
    &quot;gender&quot;: &quot;male&quot;,
    &quot;email&quot;: &quot;test.email1680523408696@15ce.com&quot;,
    &quot;status&quot;: &quot;inactive&quot;
}    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Authorization: Bearer 93378ac543867bc38096e2bd4a08e9f1afc0c310552238f37e0cc74b46a6df1e</div>
        <div>Accept: application/json, application/javascript, text/javascript, text/json</div>
        <div>Content-Type: application/json</div>
</div>



<h4>Curl</h4>
<div>
curl -v -X POST &#39;https://gorest.co.in/public/v1/users&#39; -H &#39;Authorization: Bearer 93378ac543867bc38096e2bd4a08e9f1afc0c310552238f37e0cc74b46a6df1e&#39; -H &#39;Accept: application/json, application/javascript, text/javascript, text/json&#39; -H &#39;Content-Type: application/json&#39; -d &#39;{
    &quot;name&quot;: &quot;&quot;,
    &quot;gender&quot;: &quot;male&quot;,
    &quot;email&quot;: &quot;test.email1680523408696@15ce.com&quot;,
    &quot;status&quot;: &quot;inactive&quot;
}&#39;
</div>
