<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
{
    &quot;meta&quot;: null,
    &quot;data&quot;: {
        &quot;id&quot;: 744451,
        &quot;name&quot;: &quot;test_name_1680689257786&quot;,
        &quot;email&quot;: &quot;test.email_1680689255660@15ce.com&quot;,
        &quot;gender&quot;: &quot;male&quot;,
        &quot;status&quot;: &quot;inactive&quot;
    }
}    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: cloudflare</div>
        <div>vary: Origin</div>
        <div>x-frame-options: SAMEORIGIN</div>
        <div>x-download-options: noopen</div>
        <div>x-ratelimit-remaining: 88</div>
        <div>Report-To: {&quot;endpoints&quot;:[{&quot;url&quot;:&quot;https:\/\/a.nel.cloudflare.com\/report\/v3?s=4YN3iey4x%2FuRvkTf3RpaNDb0eyB9t319xCZVlhJred04GkxHvhiAiZ7zHhquv%2F1Zb52rQA6rPFxa3VbgFQGIG4ipW3HRShoRlkWAm1tOrXk%2B9Iw7fydu2ZjlMgmbWrg%3D&quot;}],&quot;group&quot;:&quot;cf-nel&quot;,&quot;max_age&quot;:604800}</div>
        <div>referrer-policy: strict-origin-when-cross-origin</div>
        <div>x-runtime: 0.103889</div>
        <div>Content-Type: application/json; charset=utf-8</div>
        <div>Transfer-Encoding: chunked</div>
        <div>x-request-id: a212b9e8-f30d-46d9-bf1f-2f02ffedc550</div>
        <div>CF-RAY: 7b30fc43aa6bbff3-WAW</div>
        <div>x-ratelimit-limit: 90</div>
        <div>Connection: keep-alive</div>
        <div>x-permitted-cross-domain-policies: none</div>
        <div>x-ratelimit-reset: 1</div>
        <div>Date: Wed, 05 Apr 2023 10:07:40 GMT</div>
        <div>CF-Cache-Status: DYNAMIC</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>x-content-type-options: nosniff</div>
        <div>x-xss-protection: 0</div>
        <div>NEL: {&quot;success_fraction&quot;:0,&quot;report_to&quot;:&quot;cf-nel&quot;,&quot;max_age&quot;:604800}</div>
        <div>etag: W/&quot;baaa21430f62a1387eca269d0df405e1&quot;</div>
        <div>location: https://gorest.co.in/public/v1/users/744451</div>
        <div>alt-svc: h3=&quot;:443&quot;; ma=86400, h3-29=&quot;:443&quot;; ma=86400</div>
</div>


