<div>DELETE to https://gorest.co.in/public/v1/users/685070</div>


<h4>Headers</h4>
<div>
        <div>Authorization: Bearer 93378ac543867bc38096e2bd4a08e9f1afc0c310552238f37e0cc74b46a6df1e</div>
        <div>Accept: application/json, application/javascript, text/javascript, text/json</div>
        <div>Content-Type: application/json</div>
</div>



<h4>Curl</h4>
<div>
curl -v -X DELETE &#39;https://gorest.co.in/public/v1/users/685070&#39; -H &#39;Authorization: Bearer 93378ac543867bc38096e2bd4a08e9f1afc0c310552238f37e0cc74b46a6df1e&#39; -H &#39;Accept: application/json, application/javascript, text/javascript, text/json&#39; -H &#39;Content-Type: application/json&#39;
</div>
