<div>Status code 200 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;meta&quot;: {
        &quot;pagination&quot;: {
            &quot;total&quot;: 2485,
            &quot;pages&quot;: 249,
            &quot;page&quot;: 1,
            &quot;limit&quot;: 10,
            &quot;links&quot;: {
                &quot;previous&quot;: null,
                &quot;current&quot;: &quot;https://gorest.co.in/public/v1/users?page=1&quot;,
                &quot;next&quot;: &quot;https://gorest.co.in/public/v1/users?page=2&quot;
            }
        }
    },
    &quot;data&quot;: [
        {
            &quot;id&quot;: 666273,
            &quot;name&quot;: &quot;test_name_1680456122512&quot;,
            &quot;email&quot;: &quot;test.email1680456122506@15ce.com&quot;,
            &quot;gender&quot;: &quot;female&quot;,
            &quot;status&quot;: &quot;inactive&quot;
        },
        {
            &quot;id&quot;: 665620,
            &quot;name&quot;: &quot;Saraswati Mehra&quot;,
            &quot;email&quot;: &quot;mehra_saraswati@bartoletti.info&quot;,
            &quot;gender&quot;: &quot;female&quot;,
            &quot;status&quot;: &quot;inactive&quot;
        },
        {
            &quot;id&quot;: 665615,
            &quot;name&quot;: &quot;Prof. Dhanesh Iyer&quot;,
            &quot;email&quot;: &quot;dhanesh_iyer_prof@cartwright.name&quot;,
            &quot;gender&quot;: &quot;male&quot;,
            &quot;status&quot;: &quot;inactive&quot;
        },
        {
            &quot;id&quot;: 650181,
            &quot;name&quot;: &quot;Sen. Kanishka Singh&quot;,
            &quot;email&quot;: &quot;kanishka_singh_sen@nicolas-mann.com&quot;,
            &quot;gender&quot;: &quot;male&quot;,
            &quot;status&quot;: &quot;inactive&quot;
        },
        {
            &quot;id&quot;: 650179,
            &quot;name&quot;: &quot;Pres. Deven Dhawan&quot;,
            &quot;email&quot;: &quot;deven_dhawan_pres@champlin.com&quot;,
            &quot;gender&quot;: &quot;female&quot;,
            &quot;status&quot;: &quot;inactive&quot;
        },
        {
            &quot;id&quot;: 641309,
            &quot;name&quot;: &quot;Sen. Trilok Kapoor&quot;,
            &quot;email&quot;: &quot;kapoor_trilok_sen@lowe.info&quot;,
            &quot;gender&quot;: &quot;female&quot;,
            &quot;status&quot;: &quot;active&quot;
        },
        {
            &quot;id&quot;: 640917,
            &quot;name&quot;: &quot;Achintya Bandopadhyay&quot;,
            &quot;email&quot;: &quot;achintya_bandopadhyay@kreiger-baumbach.name&quot;,
            &quot;gender&quot;: &quot;female&quot;,
            &quot;status&quot;: &quot;active&quot;
        },
        {
            &quot;id&quot;: 640916,
            &quot;name&quot;: &quot;Mrs. Shankar Varman&quot;,
            &quot;email&quot;: &quot;shankar_varman_mrs@kilback.net&quot;,
            &quot;gender&quot;: &quot;female&quot;,
            &quot;status&quot;: &quot;active&quot;
        },
        {
            &quot;id&quot;: 640915,
            &quot;name&quot;: &quot;Anuja Adiga&quot;,
            &quot;email&quot;: &quot;anuja_adiga@smith-baumbach.name&quot;,
            &quot;gender&quot;: &quot;female&quot;,
            &quot;status&quot;: &quot;inactive&quot;
        },
        {
            &quot;id&quot;: 639694,
            &quot;name&quot;: &quot;Mahendra Iyengar&quot;,
            &quot;email&quot;: &quot;iyengar_mahendra@littel-nolan.name&quot;,
            &quot;gender&quot;: &quot;female&quot;,
            &quot;status&quot;: &quot;active&quot;
        }
    ]
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: cloudflare</div>
        <div>vary: Origin</div>
        <div>x-frame-options: SAMEORIGIN</div>
        <div>x-download-options: noopen</div>
        <div>x-ratelimit-remaining: 82</div>
        <div>Report-To: {&quot;endpoints&quot;:[{&quot;url&quot;:&quot;https:\/\/a.nel.cloudflare.com\/report\/v3?s=F6obxFV1cQBOvovqIAR3X%2F4BJradzluyhLN1Gaq41s%2BFXNKQnl1ldyPYpX92JhUPEgz1TyEFCDgxHBrkIQj4SubaAyvCYizGfeSjpvVrK0Ht%2BNRB1ba%2BLCNuL4sKli8%3D&quot;}],&quot;group&quot;:&quot;cf-nel&quot;,&quot;max_age&quot;:604800}</div>
        <div>referrer-policy: strict-origin-when-cross-origin</div>
        <div>Content-Encoding: gzip</div>
        <div>x-runtime: 0.077904</div>
        <div>Content-Type: application/json; charset=utf-8</div>
        <div>Transfer-Encoding: chunked</div>
        <div>x-request-id: 3607c05e-d5ec-4c65-9d39-6d6b51ceb36b</div>
        <div>CF-RAY: 7b1b221c4915352a-WAW</div>
        <div>x-ratelimit-limit: 90</div>
        <div>Connection: keep-alive</div>
        <div>x-permitted-cross-domain-policies: none</div>
        <div>x-ratelimit-reset: 4</div>
        <div>Date: Sun, 02 Apr 2023 18:28:44 GMT</div>
        <div>CF-Cache-Status: DYNAMIC</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>x-content-type-options: nosniff</div>
        <div>x-xss-protection: 0</div>
        <div>NEL: {&quot;success_fraction&quot;:0,&quot;report_to&quot;:&quot;cf-nel&quot;,&quot;max_age&quot;:604800}</div>
        <div>etag: W/&quot;f2d1a1bae8c9181a6a77d179ab15f029&quot;</div>
        <div>alt-svc: h3=&quot;:443&quot;; ma=86400, h3-29=&quot;:443&quot;; ma=86400</div>
</div>


