<div>Status code 201 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;meta&quot;: null,
    &quot;data&quot;: {
        &quot;id&quot;: 682811,
        &quot;name&quot;: &quot;test_name_1680508506720&quot;,
        &quot;email&quot;: &quot;test.email1680508506716@15ce.com&quot;,
        &quot;gender&quot;: &quot;male&quot;,
        &quot;status&quot;: &quot;active&quot;
    }
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: cloudflare</div>
        <div>vary: Origin</div>
        <div>x-frame-options: SAMEORIGIN</div>
        <div>x-download-options: noopen</div>
        <div>x-ratelimit-remaining: 89</div>
        <div>Report-To: {&quot;endpoints&quot;:[{&quot;url&quot;:&quot;https:\/\/a.nel.cloudflare.com\/report\/v3?s=HYw9IyAP7TBp1CnS1b4fdjb0QcOh7lIyKvpqOLxNPiVgb17uJSvEdB%2BvZrL0%2BuHHO7RLIk4SBUyGm62I8WEyryhjZR1w6iGYBUpcEOZexge4MnR3EQOwVkDHtziV78E%3D&quot;}],&quot;group&quot;:&quot;cf-nel&quot;,&quot;max_age&quot;:604800}</div>
        <div>referrer-policy: strict-origin-when-cross-origin</div>
        <div>x-runtime: 0.086469</div>
        <div>Content-Type: application/json; charset=utf-8</div>
        <div>Transfer-Encoding: chunked</div>
        <div>x-request-id: 7663269b-e160-469b-9115-2461dc1bb9d5</div>
        <div>CF-RAY: 7b1fbf61aff5bfbe-WAW</div>
        <div>x-ratelimit-limit: 90</div>
        <div>Connection: keep-alive</div>
        <div>x-permitted-cross-domain-policies: none</div>
        <div>x-ratelimit-reset: 1</div>
        <div>Date: Mon, 03 Apr 2023 07:55:08 GMT</div>
        <div>CF-Cache-Status: DYNAMIC</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>x-content-type-options: nosniff</div>
        <div>x-xss-protection: 0</div>
        <div>NEL: {&quot;success_fraction&quot;:0,&quot;report_to&quot;:&quot;cf-nel&quot;,&quot;max_age&quot;:604800}</div>
        <div>etag: W/&quot;ceff61b79ba69bfeacb1ac25ef349c3a&quot;</div>
        <div>location: https://gorest.co.in/public/v1/users/682811</div>
        <div>alt-svc: h3=&quot;:443&quot;; ma=86400, h3-29=&quot;:443&quot;; ma=86400</div>
</div>


