<div>Status code 200 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;meta&quot;: {
        &quot;pagination&quot;: {
            &quot;total&quot;: 2495,
            &quot;pages&quot;: 250,
            &quot;page&quot;: 1,
            &quot;limit&quot;: 10,
            &quot;links&quot;: {
                &quot;previous&quot;: null,
                &quot;current&quot;: &quot;https://gorest.co.in/public/v1/users?page=1&quot;,
                &quot;next&quot;: &quot;https://gorest.co.in/public/v1/users?page=2&quot;
            }
        }
    },
    &quot;data&quot;: [
        {
            &quot;id&quot;: 682957,
            &quot;name&quot;: &quot;Chatur Bhat&quot;,
            &quot;email&quot;: &quot;chatur_bhat@dietrich.co&quot;,
            &quot;gender&quot;: &quot;male&quot;,
            &quot;status&quot;: &quot;active&quot;
        },
        {
            &quot;id&quot;: 682956,
            &quot;name&quot;: &quot;Drona Dwivedi&quot;,
            &quot;email&quot;: &quot;dwivedi_drona@watsica.co&quot;,
            &quot;gender&quot;: &quot;male&quot;,
            &quot;status&quot;: &quot;inactive&quot;
        },
        {
            &quot;id&quot;: 682954,
            &quot;name&quot;: &quot;Chandrabhaga Kocchar&quot;,
            &quot;email&quot;: &quot;kocchar_chandrabhaga@hoppe.com&quot;,
            &quot;gender&quot;: &quot;female&quot;,
            &quot;status&quot;: &quot;inactive&quot;
        },
        {
            &quot;id&quot;: 682952,
            &quot;name&quot;: &quot;Ashok Khan&quot;,
            &quot;email&quot;: &quot;ashok_khan@jerde.info&quot;,
            &quot;gender&quot;: &quot;male&quot;,
            &quot;status&quot;: &quot;active&quot;
        },
        {
            &quot;id&quot;: 682951,
            &quot;name&quot;: &quot;Darshwana Nair&quot;,
            &quot;email&quot;: &quot;nair_darshwana@schneider.info&quot;,
            &quot;gender&quot;: &quot;female&quot;,
            &quot;status&quot;: &quot;inactive&quot;
        },
        {
            &quot;id&quot;: 682950,
            &quot;name&quot;: &quot;Deeptimayee Marar&quot;,
            &quot;email&quot;: &quot;marar_deeptimayee@adams-dicki.co&quot;,
            &quot;gender&quot;: &quot;female&quot;,
            &quot;status&quot;: &quot;inactive&quot;
        },
        {
            &quot;id&quot;: 682949,
            &quot;name&quot;: &quot;Ekalavya Rana&quot;,
            &quot;email&quot;: &quot;ekalavya_rana@emmerich-jacobi.biz&quot;,
            &quot;gender&quot;: &quot;female&quot;,
            &quot;status&quot;: &quot;active&quot;
        },
        {
            &quot;id&quot;: 682220,
            &quot;name&quot;: &quot;Mr. Lakshmidhar Dutta&quot;,
            &quot;email&quot;: &quot;dutta_lakshmidhar_mr@schowalter.io&quot;,
            &quot;gender&quot;: &quot;female&quot;,
            &quot;status&quot;: &quot;active&quot;
        },
        {
            &quot;id&quot;: 679891,
            &quot;name&quot;: &quot;Sen. Sushil Bharadwaj&quot;,
            &quot;email&quot;: &quot;bharadwaj_sushil_sen@carroll.co&quot;,
            &quot;gender&quot;: &quot;female&quot;,
            &quot;status&quot;: &quot;inactive&quot;
        },
        {
            &quot;id&quot;: 679887,
            &quot;name&quot;: &quot;Lakshmidhar Nambeesan&quot;,
            &quot;email&quot;: &quot;nambeesan_lakshmidhar@mertz.com&quot;,
            &quot;gender&quot;: &quot;male&quot;,
            &quot;status&quot;: &quot;active&quot;
        }
    ]
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: cloudflare</div>
        <div>vary: Origin</div>
        <div>x-frame-options: SAMEORIGIN</div>
        <div>x-download-options: noopen</div>
        <div>x-ratelimit-remaining: 86</div>
        <div>Report-To: {&quot;endpoints&quot;:[{&quot;url&quot;:&quot;https:\/\/a.nel.cloudflare.com\/report\/v3?s=yPyvbilfSNj0fjBZs2GywJ6nWjEr%2BPCsjkTifpPuQ1hkVmFKIOqy0ePeSfNVaOTumWsDmar4d7kpwIjBakSbAbaZmdr5or4kjVd0gTA4Nlf%2BNGHu6yME19XRwxYJL0k%3D&quot;}],&quot;group&quot;:&quot;cf-nel&quot;,&quot;max_age&quot;:604800}</div>
        <div>referrer-policy: strict-origin-when-cross-origin</div>
        <div>Content-Encoding: gzip</div>
        <div>x-runtime: 0.091343</div>
        <div>Content-Type: application/json; charset=utf-8</div>
        <div>Transfer-Encoding: chunked</div>
        <div>x-request-id: e0c876ef-17db-451c-bcb9-16a1e978b244</div>
        <div>CF-RAY: 7b1fdafc0e61f2d4-WAW</div>
        <div>x-ratelimit-limit: 90</div>
        <div>Connection: keep-alive</div>
        <div>x-permitted-cross-domain-policies: none</div>
        <div>x-ratelimit-reset: 4</div>
        <div>Date: Mon, 03 Apr 2023 08:13:59 GMT</div>
        <div>CF-Cache-Status: DYNAMIC</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>x-content-type-options: nosniff</div>
        <div>x-xss-protection: 0</div>
        <div>NEL: {&quot;success_fraction&quot;:0,&quot;report_to&quot;:&quot;cf-nel&quot;,&quot;max_age&quot;:604800}</div>
        <div>etag: W/&quot;2b7216d76c235d8ae82c3f8c86723881&quot;</div>
        <div>alt-svc: h3=&quot;:443&quot;; ma=86400, h3-29=&quot;:443&quot;; ma=86400</div>
</div>


