<div>Status code 200 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;meta&quot;: {
        &quot;pagination&quot;: {
            &quot;total&quot;: 2501,
            &quot;pages&quot;: 251,
            &quot;page&quot;: 1,
            &quot;limit&quot;: 10,
            &quot;links&quot;: {
                &quot;previous&quot;: null,
                &quot;current&quot;: &quot;https://gorest.co.in/public/v1/users?page=1&quot;,
                &quot;next&quot;: &quot;https://gorest.co.in/public/v1/users?page=2&quot;
            }
        }
    },
    &quot;data&quot;: [
        {
            &quot;id&quot;: 684163,
            &quot;name&quot;: &quot;Veda Saini&quot;,
            &quot;email&quot;: &quot;saini_veda@cruickshank.com&quot;,
            &quot;gender&quot;: &quot;female&quot;,
            &quot;status&quot;: &quot;inactive&quot;
        },
        {
            &quot;id&quot;: 684162,
            &quot;name&quot;: &quot;Baalagopaal Prajapat DDS&quot;,
            &quot;email&quot;: &quot;dds_prajapat_baalagopaal@ritchie-mann.info&quot;,
            &quot;gender&quot;: &quot;male&quot;,
            &quot;status&quot;: &quot;inactive&quot;
        },
        {
            &quot;id&quot;: 684161,
            &quot;name&quot;: &quot;Durga Dubashi JD&quot;,
            &quot;email&quot;: &quot;jd_durga_dubashi@swaniawski.info&quot;,
            &quot;gender&quot;: &quot;female&quot;,
            &quot;status&quot;: &quot;inactive&quot;
        },
        {
            &quot;id&quot;: 684160,
            &quot;name&quot;: &quot;Aadinath Iyer Jr.&quot;,
            &quot;email&quot;: &quot;iyer_aadinath_jr@daniel.co&quot;,
            &quot;gender&quot;: &quot;female&quot;,
            &quot;status&quot;: &quot;active&quot;
        },
        {
            &quot;id&quot;: 684159,
            &quot;name&quot;: &quot;Gautam Bhattacharya I&quot;,
            &quot;email&quot;: &quot;bhattacharya_i_gautam@lowe-padberg.name&quot;,
            &quot;gender&quot;: &quot;female&quot;,
            &quot;status&quot;: &quot;inactive&quot;
        },
        {
            &quot;id&quot;: 684158,
            &quot;name&quot;: &quot;Prathamesh Chattopadhyay&quot;,
            &quot;email&quot;: &quot;chattopadhyay_prathamesh@gorczany-braun.biz&quot;,
            &quot;gender&quot;: &quot;female&quot;,
            &quot;status&quot;: &quot;inactive&quot;
        },
        {
            &quot;id&quot;: 684157,
            &quot;name&quot;: &quot;Chandrakala Naik&quot;,
            &quot;email&quot;: &quot;naik_chandrakala@franecki.info&quot;,
            &quot;gender&quot;: &quot;female&quot;,
            &quot;status&quot;: &quot;active&quot;
        },
        {
            &quot;id&quot;: 684156,
            &quot;name&quot;: &quot;Brahmanandam Sinha&quot;,
            &quot;email&quot;: &quot;sinha_brahmanandam@kutch-schroeder.net&quot;,
            &quot;gender&quot;: &quot;male&quot;,
            &quot;status&quot;: &quot;inactive&quot;
        },
        {
            &quot;id&quot;: 684155,
            &quot;name&quot;: &quot;Chandi Sinha&quot;,
            &quot;email&quot;: &quot;sinha_chandi@boyle-bailey.org&quot;,
            &quot;gender&quot;: &quot;female&quot;,
            &quot;status&quot;: &quot;inactive&quot;
        },
        {
            &quot;id&quot;: 684154,
            &quot;name&quot;: &quot;Gudakesa Singh&quot;,
            &quot;email&quot;: &quot;gudakesa_singh@buckridge.com&quot;,
            &quot;gender&quot;: &quot;male&quot;,
            &quot;status&quot;: &quot;inactive&quot;
        }
    ]
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: cloudflare</div>
        <div>vary: Origin</div>
        <div>x-frame-options: SAMEORIGIN</div>
        <div>x-download-options: noopen</div>
        <div>x-ratelimit-remaining: 86</div>
        <div>Report-To: {&quot;endpoints&quot;:[{&quot;url&quot;:&quot;https:\/\/a.nel.cloudflare.com\/report\/v3?s=0RYVxceAf27NPLDCp9%2BolqSlB0n6S%2FrwNN6WrIOEnhT6EcwjmF0yvaXSK%2BpGJYC3Ug2snrvDc6wofLTFrZxOpAwSIeumQy7lm0dCniXnO8EMrLkvS780gzr1SCJ%2BTac%3D&quot;}],&quot;group&quot;:&quot;cf-nel&quot;,&quot;max_age&quot;:604800}</div>
        <div>referrer-policy: strict-origin-when-cross-origin</div>
        <div>Content-Encoding: gzip</div>
        <div>x-runtime: 0.124020</div>
        <div>Content-Type: application/json; charset=utf-8</div>
        <div>Transfer-Encoding: chunked</div>
        <div>x-request-id: 77f0d967-92c2-479a-8621-d2bdd81de225</div>
        <div>CF-RAY: 7b20849818eabf62-WAW</div>
        <div>x-ratelimit-limit: 90</div>
        <div>Connection: keep-alive</div>
        <div>x-permitted-cross-domain-policies: none</div>
        <div>x-ratelimit-reset: 1</div>
        <div>Date: Mon, 03 Apr 2023 10:09:46 GMT</div>
        <div>CF-Cache-Status: DYNAMIC</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>x-content-type-options: nosniff</div>
        <div>x-xss-protection: 0</div>
        <div>NEL: {&quot;success_fraction&quot;:0,&quot;report_to&quot;:&quot;cf-nel&quot;,&quot;max_age&quot;:604800}</div>
        <div>etag: W/&quot;c05a53f05714cf16df78658605a37f38&quot;</div>
        <div>alt-svc: h3=&quot;:443&quot;; ma=86400, h3-29=&quot;:443&quot;; ma=86400</div>
</div>


