<div>Status code 200 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;meta&quot;: {
        &quot;pagination&quot;: {
            &quot;total&quot;: 2498,
            &quot;pages&quot;: 250,
            &quot;page&quot;: 1,
            &quot;limit&quot;: 10,
            &quot;links&quot;: {
                &quot;previous&quot;: null,
                &quot;current&quot;: &quot;https://gorest.co.in/public/v1/users?page=1&quot;,
                &quot;next&quot;: &quot;https://gorest.co.in/public/v1/users?page=2&quot;
            }
        }
    },
    &quot;data&quot;: [
        {
            &quot;id&quot;: 666494,
            &quot;name&quot;: &quot;Gorakhnath Chattopadhyay II&quot;,
            &quot;email&quot;: &quot;chattopadhyay_gorakhnath_ii@gorczany-monahan.name&quot;,
            &quot;gender&quot;: &quot;female&quot;,
            &quot;status&quot;: &quot;inactive&quot;
        },
        {
            &quot;id&quot;: 666273,
            &quot;name&quot;: &quot;test_name_1680456122512&quot;,
            &quot;email&quot;: &quot;test.email1680456122506@15ce.com&quot;,
            &quot;gender&quot;: &quot;female&quot;,
            &quot;status&quot;: &quot;inactive&quot;
        },
        {
            &quot;id&quot;: 665623,
            &quot;name&quot;: &quot;Adityanandana Bandopadhyay&quot;,
            &quot;email&quot;: &quot;bandopadhyay_adityanandana@turcotte-koss.co&quot;,
            &quot;gender&quot;: &quot;female&quot;,
            &quot;status&quot;: &quot;active&quot;
        },
        {
            &quot;id&quot;: 665622,
            &quot;name&quot;: &quot;Atmananda Nair JD&quot;,
            &quot;email&quot;: &quot;jd_nair_atmananda@hudson-wolff.net&quot;,
            &quot;gender&quot;: &quot;male&quot;,
            &quot;status&quot;: &quot;active&quot;
        },
        {
            &quot;id&quot;: 665621,
            &quot;name&quot;: &quot;Kashyap Chaturvedi VM&quot;,
            &quot;email&quot;: &quot;kashyap_vm_chaturvedi@oreilly.biz&quot;,
            &quot;gender&quot;: &quot;male&quot;,
            &quot;status&quot;: &quot;active&quot;
        },
        {
            &quot;id&quot;: 665620,
            &quot;name&quot;: &quot;Saraswati Mehra&quot;,
            &quot;email&quot;: &quot;mehra_saraswati@bartoletti.info&quot;,
            &quot;gender&quot;: &quot;female&quot;,
            &quot;status&quot;: &quot;inactive&quot;
        },
        {
            &quot;id&quot;: 665618,
            &quot;name&quot;: &quot;Adinath Kaur I&quot;,
            &quot;email&quot;: &quot;i_kaur_adinath@price.org&quot;,
            &quot;gender&quot;: &quot;female&quot;,
            &quot;status&quot;: &quot;active&quot;
        },
        {
            &quot;id&quot;: 665617,
            &quot;name&quot;: &quot;Balamani Malik&quot;,
            &quot;email&quot;: &quot;malik_balamani@considine.biz&quot;,
            &quot;gender&quot;: &quot;male&quot;,
            &quot;status&quot;: &quot;active&quot;
        },
        {
            &quot;id&quot;: 665616,
            &quot;name&quot;: &quot;Ranjeet Bhattathiri&quot;,
            &quot;email&quot;: &quot;ranjeet_bhattathiri@ankunding.name&quot;,
            &quot;gender&quot;: &quot;male&quot;,
            &quot;status&quot;: &quot;inactive&quot;
        },
        {
            &quot;id&quot;: 665615,
            &quot;name&quot;: &quot;Prof. Dhanesh Iyer&quot;,
            &quot;email&quot;: &quot;dhanesh_iyer_prof@cartwright.name&quot;,
            &quot;gender&quot;: &quot;male&quot;,
            &quot;status&quot;: &quot;inactive&quot;
        }
    ]
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: cloudflare</div>
        <div>vary: Origin</div>
        <div>x-frame-options: SAMEORIGIN</div>
        <div>x-download-options: noopen</div>
        <div>x-ratelimit-remaining: 87</div>
        <div>Report-To: {&quot;endpoints&quot;:[{&quot;url&quot;:&quot;https:\/\/a.nel.cloudflare.com\/report\/v3?s=GaD5I%2BQs%2BzWopZP2Fni1ZKEoKJ%2FC0oCPa4zeKiEfg8apXUfER3z08zMA0agzhUM%2BdcsbVtvle2E7EPNwFI0pg1rVdd%2F3zILm3UnEtLoVeXmoqK1vktJmVyPs4csILC4%3D&quot;}],&quot;group&quot;:&quot;cf-nel&quot;,&quot;max_age&quot;:604800}</div>
        <div>referrer-policy: strict-origin-when-cross-origin</div>
        <div>Content-Encoding: gzip</div>
        <div>x-runtime: 0.082204</div>
        <div>Content-Type: application/json; charset=utf-8</div>
        <div>Transfer-Encoding: chunked</div>
        <div>x-request-id: 15f12dfc-f551-488c-b3f8-145abc6c2394</div>
        <div>CF-RAY: 7b1af2215f5a3bc6-WAW</div>
        <div>x-ratelimit-limit: 90</div>
        <div>Connection: keep-alive</div>
        <div>x-permitted-cross-domain-policies: none</div>
        <div>x-ratelimit-reset: 1</div>
        <div>Date: Sun, 02 Apr 2023 17:55:58 GMT</div>
        <div>CF-Cache-Status: DYNAMIC</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>x-content-type-options: nosniff</div>
        <div>x-xss-protection: 0</div>
        <div>NEL: {&quot;success_fraction&quot;:0,&quot;report_to&quot;:&quot;cf-nel&quot;,&quot;max_age&quot;:604800}</div>
        <div>etag: W/&quot;0c50ffdc10b3146844ce0e1b509ea9dc&quot;</div>
        <div>alt-svc: h3=&quot;:443&quot;; ma=86400, h3-29=&quot;:443&quot;; ma=86400</div>
</div>


