<div>Status code 200 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
{
    &quot;meta&quot;: null,
    &quot;data&quot;: {
        &quot;id&quot;: 744600,
        &quot;name&quot;: &quot;test_name_1680689464421&quot;,
        &quot;email&quot;: &quot;test.email_1680689462550@15ce.com&quot;,
        &quot;gender&quot;: &quot;male&quot;,
        &quot;status&quot;: &quot;active&quot;
    }
}    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: cloudflare</div>
        <div>vary: Origin</div>
        <div>x-frame-options: SAMEORIGIN</div>
        <div>x-download-options: noopen</div>
        <div>x-ratelimit-remaining: 89</div>
        <div>Report-To: {&quot;endpoints&quot;:[{&quot;url&quot;:&quot;https:\/\/a.nel.cloudflare.com\/report\/v3?s=w1PPnSv2U%2BVnTWKMES%2BM1Sg0V72koWk05HhMTFCMxM%2B5eW5fndOUhfac7xfy6P6w4dnKxaUEisa8%2B4G9l05kTA2CdFtdFzcGuwFiR5u0qphng0fFLP0neQxoYyQROhM%3D&quot;}],&quot;group&quot;:&quot;cf-nel&quot;,&quot;max_age&quot;:604800}</div>
        <div>referrer-policy: strict-origin-when-cross-origin</div>
        <div>Content-Encoding: gzip</div>
        <div>x-runtime: 0.065455</div>
        <div>Content-Type: application/json; charset=utf-8</div>
        <div>Transfer-Encoding: chunked</div>
        <div>x-request-id: eef5cbeb-a02e-43b8-b747-a7d449892219</div>
        <div>CF-RAY: 7b310155bf183554-WAW</div>
        <div>x-ratelimit-limit: 90</div>
        <div>Connection: keep-alive</div>
        <div>x-permitted-cross-domain-policies: none</div>
        <div>x-ratelimit-reset: 1</div>
        <div>Date: Wed, 05 Apr 2023 10:11:08 GMT</div>
        <div>CF-Cache-Status: DYNAMIC</div>
        <div>Cache-Control: max-age=0, private, must-revalidate</div>
        <div>x-content-type-options: nosniff</div>
        <div>x-xss-protection: 0</div>
        <div>NEL: {&quot;success_fraction&quot;:0,&quot;report_to&quot;:&quot;cf-nel&quot;,&quot;max_age&quot;:604800}</div>
        <div>etag: W/&quot;a8f801733c0aa35286d1ec626bb5ae51&quot;</div>
        <div>alt-svc: h3=&quot;:443&quot;; ma=86400, h3-29=&quot;:443&quot;; ma=86400</div>
</div>


